.ticket {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 2px black;
}
.projectList{
    display: flex;
    border-style: solid;
    border-radius: 2px black;
}